<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        .header {
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .body {
            font-size: 24px;
            justify-content: center;
            text-align: center;
        }

        .text1 {
            color: rgb(68, 68, 68);
        }
    
    </style>
</head>
<body>
    <div class="header">
        <h1>Welcome to the main page!</h1>
    </div>
    <div class="body">
        <p class="text1">Меня зовут {{ name }}</p>
        <p>Моя почта: {{ email }}</p>
        <a href="/items">Ссылка на товары:</a>
    </div>
</body>
</html>