<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <style>
        .header {
        display: flex;
        justify-content: center;
        align-items: center;
        }
        .body {
            font-size: 24px;
            justify-content: center;
            text-align: center;
        }
    
    </style>
</head>
<body>
    <div class="header">
        <h1>Welcome to the main page!</h1>
    </div>
    <div class="body">
        <p>This is the main page</p>
        <p><i>Site is being maintaned</i></p>
    </div>
</body>
</html>