<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item</title>
</head>
<body>
    <header>
        /<a href="/">Home</a>/<a href="/items">Items</a>/<a href="/about">About</a>
    </header>

    <h2>Содержимое товара:</h2>
    <ul>
        {% if item.count == 0 %}
           Товар нет на складе
        {% else %}
        <li>Id товара: {{ item.id }}</li>
        <li>Наименование товара: {{ item.name }}</li>
        <li>Количество: {{ item.count }}</li>
    </ul>
        {% endif %}
    <a href="/items">Вернуться к списку товаров</a>
</body>
</html>